<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lotto numbers</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
  <h1>Lotto numbers</h1>
  <h2>Number 1: {{ num1 }}</h2>
  <h2>Number 2: {{ num2 }}</h2>
  <h2>Number 3: {{ num3 }}</h2>
  <h2>Number 4: {{ num4 }}</h2>
  <h2>Number 5: {{ num5 }}</h2>
  <h2>Number 6: {{ num6 }}</h2>
  <h2>Number 7: {{ num7 }}</h2>
  <h2>Number 8: {{ num8 }}</h2>

  <button type="button"><a href="/">Back</a></button>

</body>
</html>